.u-section-1 {background-image: url("images/e4.jpg"); background-position: 50% 50%; min-height: 740px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 1140px) / 2) + 1140px); margin: 0 0 0 auto}
.u-section-1 .u-layout-cell-1 {min-height: 740px}
.u-section-1 .u-container-layout-1 {padding: 60px 0 60px 50px}
.u-section-1 .u-text-1 {font-size: 1.25rem; font-weight: 700; line-height: 1.2; background-image: none; text-transform: uppercase; letter-spacing: 5px; font-family: "PT Sans", sans-serif; margin: 65px 50px 0 -50px}
.u-section-1 .u-text-2 {font-size: 5rem; text-transform: uppercase; letter-spacing: normal; font-weight: 700; font-family: "Roboto Condensed", sans-serif; margin: 47px 0 0}
.u-section-1 .u-text-3 {font-size: 1.25rem; font-style: italic; margin: 13px 15px 0 0}
.u-section-1 .u-text-4 {font-size: 0.875rem; font-weight: 700; margin: 81px 72px 0 -50px}
.u-section-1 .u-image-1 {min-height: 691px; background-image: url("images/xx-min.jpg"); background-position: 50% 50%}
.u-section-1 .u-container-layout-2 {padding: 30px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 489px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 940px) / 2) + 940px)}
.u-section-1 .u-layout-cell-1 {min-height: 610px}
.u-section-1 .u-container-layout-1 {padding-left: 25px; padding-right: 25px}
.u-section-1 .u-text-1 {font-size: 1rem; margin-left: 0; margin-right: 0}
.u-section-1 .u-text-2 {font-size: 4.5rem; margin-top: 19px}
.u-section-1 .u-text-3 {margin-top: 6px; margin-right: 82px}
.u-section-1 .u-text-4 {margin-top: 76px; margin-right: 0; margin-left: auto}
.u-section-1 .u-image-1 {min-height: 570px} }

@media (max-width: 991px){ .u-section-1 {min-height: 356px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 720px) / 2) + 720px)}
.u-section-1 .u-layout-cell-1 {min-height: 467px}
.u-section-1 .u-container-layout-1 {padding-top: 50px; padding-bottom: 50px}
.u-section-1 .u-text-1 {font-size: 0.875rem}
.u-section-1 .u-text-2 {font-size: 3.4375rem}
.u-section-1 .u-image-1 {min-height: 411px; background-position: 32.77% 50%} }

@media (max-width: 767px){ .u-section-1 {min-height: 477px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 540px) / 2) + 540px)}
.u-section-1 .u-layout-cell-1 {min-height: 481px; order: 1}
.u-section-1 .u-container-layout-1 {padding: 30px 50px 60px 10px}
.u-section-1 .u-text-1 {font-size: 1.25rem}
.u-section-1 .u-text-2 {font-size: 4.5rem}
.u-section-1 .u-image-1 {min-height: 634px; order: 0}
.u-section-1 .u-container-layout-2 {padding-right: 50px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 234px}
.u-section-1 .u-layout-wrap-1 {width: calc(((100% - 340px) / 2) + 340px)}
.u-section-1 .u-layout-cell-1 {min-height: 465px}
.u-section-1 .u-text-2 {font-size: 3.4375rem}
.u-section-1 .u-text-3 {margin-top: 18px; margin-right: 0}
.u-section-1 .u-text-4 {margin-top: 64px}
.u-section-1 .u-image-1 {min-height: 478px; background-position: 36.67% 50%}
.u-section-1 .u-container-layout-2 {padding-right: 10px} }.u-section-2 {background-image: url("images/-min1.jpg"); background-position: 50% 50%}
.u-section-2 .u-sheet-1 {min-height: 740px}
.u-section-2 .u-text-1 {letter-spacing: 2px; font-weight: 700; font-size: 3rem; text-transform: uppercase; width: 627px; margin: 63px auto 0}
.u-section-2 .u-text-2 {margin: 91px auto 0}
.u-section-2 .u-btn-1 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: normal; margin: -10px auto 0}
.u-section-2 .u-icon-1 {font-size: 1.3em; width: 18px; height: 24px}
.u-section-2 .u-btn-2 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; margin: 48px auto 0; padding: 10px 37px 10px 36px}
.u-section-2 .u-icon-2 {font-size: 1.3em}
.u-section-2 .u-btn-3 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; margin: 48px auto 0}
.u-section-2 .u-icon-3 {font-size: 1.3em}
.u-section-2 .u-text-3 {margin: 161px auto 0}
.u-section-2 .u-btn-4 {border-style: none none solid; padding: 0} 

@media (max-width: 1199px){ .u-section-2 {background-position: 50% 100%}
.u-section-2 .u-sheet-1 {min-height: 616px}
.u-section-2 .u-text-1 {margin-top: 612px}
.u-section-2 .u-text-2 {margin-top: -296px}
.u-section-2 .u-btn-1 {margin-top: 773px; padding: 1px 0}
.u-section-2 .u-text-3 {width: auto} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 537px} }

@media (max-width: 767px){ .u-section-2 {background-position: 0% 27.06%; background-size: auto 115%}
.u-section-2 .u-sheet-1 {min-height: 403px}
.u-section-2 .u-text-1 {width: 540px} }

@media (max-width: 575px){ .u-section-2 {background-position: 0.67% 0%; background-size: auto 130%}
.u-section-2 .u-sheet-1 {min-height: 418px}
.u-section-2 .u-text-1 {font-size: 1.875rem; width: 340px; margin-top: 520px}
.u-section-2 .u-text-2 {margin-top: -185px}
.u-section-2 .u-btn-1 {margin-top: 684px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 740px}
.u-section-3 .u-text-1 {margin: 55px auto 0 0}
.u-section-3 .u-text-2 {margin: 20px auto 0 20px}
.u-section-3 .u-shape-1 {width: 433px; height: 647px; margin: -108px auto 0 629px}
.u-section-3 .u-shape-2 {width: 661px; height: 455px; margin: -549px 213px 0 auto}
.u-section-3 .u-btn-1 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: normal; margin: -331px 327px 0 auto}
.u-section-3 .u-icon-1 {font-size: 1.3em}
.u-section-3 .u-btn-2 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: normal; margin: 55px 327px 0 auto; padding: 10px 35px 10px 34px}
.u-section-3 .u-icon-2 {font-size: 1.3em}
.u-section-3 .u-shape-3 {width: 42px; height: 764px; margin: -441px auto 0 -62px}
.u-section-3 .u-btn-3 {border-style: solid; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; letter-spacing: normal; margin: -268px 327px 0 auto; padding: 10px 32px}
.u-section-3 .u-icon-3 {font-size: 1.3em}
.u-section-3 .u-text-3 {font-weight: 700; margin: -374px 354px 60px 279px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 577px}
.u-section-3 .u-text-2 {margin-left: 16px}
.u-section-3 .u-shape-1 {margin-left: 507px}
.u-section-3 .u-btn-1 {margin-right: 127px}
.u-section-3 .u-btn-2 {margin-right: 127px}
.u-section-3 .u-btn-3 {margin-right: 127px}
.u-section-3 .u-text-3 {margin-right: 254px; margin-left: 230px} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 396px}
.u-section-3 .u-text-2 {margin-left: 12px}
.u-section-3 .u-shape-1 {margin-left: 287px}
.u-section-3 .u-shape-2 {margin-right: 59px}
.u-section-3 .u-btn-1 {margin-right: 0}
.u-section-3 .u-btn-2 {margin-right: 0}
.u-section-3 .u-btn-3 {margin-right: 0}
.u-section-3 .u-text-3 {margin-right: 144px; margin-left: 176px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 647px}
.u-section-3 .u-text-2 {margin-left: 9px}
.u-section-3 .u-shape-1 {margin-left: 107px}
.u-section-3 .u-shape-2 {width: 540px; margin-right: 0}
.u-section-3 .u-text-3 {margin-right: 33px; margin-left: 132px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 507px}
.u-section-3 .u-text-2 {margin-left: 6px}
.u-section-3 .u-shape-1 {width: 340px; margin-left: 0}
.u-section-3 .u-shape-2 {width: 340px}
.u-section-3 .u-text-3 {margin-right: 0; margin-left: 83px} }